---
---

@import "{{ site.theme }}";

.wrapper {
  display: flex !important;
}

section{
  width: auto !important;
  padding-left: 100;
  padding-right: 100;
}

.embed-container {
  text-align:center;
}

h1 {
    text-align:center;
    color: #000000;
  font-size:35px;
  font-weight:normal;
}

h3 {
    text-align:center;
  color: #000000;
  font-size:30px;
  font-weight:normal;
}

h5 {
    text-align:center;
  color: #000000;
  font-size:20px;
  font-weight:normal;
}

p {
  color: #000000;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 48%;
  padding: 5px;
}

.column-three {
  float: left;
  width: 31%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
